.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 50px;
    padding: 15px;
    width: 70%;
    border: 2px solid gainsboro;
}

.container > div {
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    margin: 0;
}

.container > div > p {
    margin-top: 55px;
    margin-bottom: 45px;
}

.container > div > img {
    width: 150px;
    height: auto;
}
a.custom-card,
a.custom-card:hover {
    color: inherit;
}

#bgpic {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
